include ez_setup.py
include INSTALL.txt
include README.rst
include LICENSE.txt
include BUGS.txt
include CHANGES.txt
include COPYING
include src/pytek/sphinx/Makefile
include src/pytek/sphinx/requirements.pip
include src/pytek/sphinx/winmake.bat
include src/pytek/sphinx/source/conf.py
include src/pytek/sphinx/source/*.rst
